@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 16px;
    background-color: #cafdff;
}
.img__logo{
    width: 300px;
}

ul{
    display: flex;
}

li{
    padding: 0 16px;
    list-style-type: none;
}

a{
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.contact{
    padding: 4px 24px;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 24px;
    border-color: black;
    transition: all 300ms ease;
}

.contact__hover:hover{
    padding: 0px 16px;
}

header{
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

h1{
    font-size: 72px;
}

.subheader{
    font-size: 36px;
    padding: 16px 0 24px 0;
}

.home__description--button{
    background-color: #05c7cf;
    padding: 8px 16px;
    color: #fff;
    border-radius: 24px;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

img{
    width: 100%;
}

/*SECTION PADDING*/
#about,
#discord,
#contact,
footer{
    padding: 48px;
}

/*ABOUT*/

#about{
    background-color: #f8ffdc;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
    font-size: 60px;
}

.section__description{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__description--wrapper{
    width: 60%;
    padding: 0 24px;
}

.section__description--para{
    font-size: 20px;
    padding-bottom: 24px;
}

.about__img--wrapper{
    width: 40%;
    padding-bottom: 24px;
}

/*DISCORD*/

#discord{
    background-color: #cefeff;
}

/*CONTACT*/

#contact{
    background-color: #dce9ff;
}

form{
    width: 100%;
    max-width: 600px;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

input, textarea{
    padding: 6px 12px;
    margin-bottom: 24px;
    font-size: 20px;
}

button{
    background-color: #05c7cf;
    color: white;
    border-radius: 24px;
    border: none;
    font-size: 24px;
    padding: 6px 0;
    cursor: pointer;
}

/*FOOTER*/
footer{
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo{
    max-width: 480px;
    margin-bottom: 16px;
}

.footer__links{
    margin-bottom: 16px;
}

.footer__link{
    padding: 0 16px;
}

/*Small phones, tablets and smartphones*/
@media(max-width: 728px){
    .row{
        flex-direction: column;
    }

    .home__description{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home__description--button{
        max-width: 240px;
        
    }

    h1{
        text-align: center;
        font-size: 60px;
    }

    .subheader{
        text-align: center;
        font-size: 28px;
    }

    ul{
        display: none;
    }

    .section__description{
        flex-direction: column;
    }

    .section__description--wrapper{
        width: 100%;
    }

    .about__img--wrapper{
        width: 100%;
    }

    #discord .section__description{
        flex-direction: column-reverse;
    }

    footer{
        padding: 48px 24px;
    }

    .footer__logo{
        max-width: 360px;
    }

    .footer__links{
        margin-bottom: 8px;
    }

    .footer__link{
        padding: 0 4px;
        font-size: 18px;
    }
}